{% extends "base.html" %}

{% block content %}
<div>
{% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }} </li>
        {% endfor %}
    </ul>
    {% endif %}
{% endwith %}
</div>
<h1>{{ artist.name }}</h1>

<h4>Hometown: {{ artist.hometown }}</h4>

<p>Artist Info: {{ artist.info }}</p>

<b> Upcoming Events: </b>
{% if artist.events %}
    {% for event in artist.events %}
        <ul id="eventsList">
            <li>{{ event }}</li>
        </ul>
    {% endfor %}
{% endif %}
{% endblock %}