{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Microblog{% else %}Welcome to Microblog{% endif %}
{% endblock %}

{% block navbar %}
<body>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">IthacArtists</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item">
                      <a class="nav-link" href="{{ url_for('list_artists') }}">Artists </a>
                    </li>
                </ul>

                    {% if current_user.is_anonymous %}
                    <ul class="nav navbar-nav navbar-right">
                      <li><a href="{{ url_for('login') }}">Login</a></li>
                    </ul>
                    {% else %}
                    <ul class="nav navbar-nav">
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Create<span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{{ url_for('new_artist') }}">New Artist</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('new_event') }}">New Event</a></li>
                            <li><a class="dropdown-item" href="{{ url_for('new_venue') }}">New Venue</a></li>
                          </ul>
                      </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('user', username=current_user.username) }}">Profile </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('logout') }}">Logout </a>
                      </li>
                    </ul>
                    {% endif %}
            </div>
        </div>
    </nav>
{% endblock %}

{% block content %}
    <br>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-info" role="alert">{{ message }}</div>
            {% endfor %}
            {% endif %}
        {% endwith %}
        {% block app_content %}
        {% endblock %}
    </div>
{% endblock %}

</body>
</html>