{% extends "base.html" %}

{% block content %}
    <h1>Create an Artist</h1>
    <form action="" method="post">  <!-- action="" means submit to current url, if submitting a form method=post -->
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }} <br>
            {{ form.name(size=48) }}
        </p>
        <p>
            {{ form.hometown.label }} <br>
            {{ form.hometown(size=48) }}
        </p>
        <p>
            {{ form.description.label }} <br>
            {{ form.description(rows=12, cols = 48) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}