{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Create an Event</h1>
    <div class="row">
        <div class="col-md-4">
            {{ wtf.quick_form(form) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <label for="artist">Don't See the Right Artist?</label>
            <a id="artist" href="{{ url_for('new_artist') }}" class="btn btn-outline-info" role="button">Create Them!</a>
        </div>
    </div>
    <br>
     <div class="row">
        <div class="col-md-4">
            <label for="venue">Don't See the Right Venue?</label>
            <a id="venue" href="{{ url_for('new_venue') }}" class="btn btn-outline-info" role="button">Create One!</a>
        </div>
     </div>
{% endblock %}