{% extends "base.html" %}

{% block content %}
    <h1>Create a Venue</h1>
    <form action="" method="post">  <!-- action="" means submit to current url, if submitting a form method=post -->
        {{ form.hidden_tag() }}
        <p>
            {{ form.name.label }} <br>
            {{ form.name(size=64) }}
        </p>
        <p>
            {{ form.address.label }} <br>
            {{ form.address(size=64) }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}